@font-face {
    font-family: 'PPETRIAL';
    src: url('/public/app/fonts/PPETRIAL/PPETRIAL.ttf')
}

.nomeIngrediente, .allergeneIngrediente {
    color: black;
    font-family: 'PPETRIAL'
}

.navbar {
    color: white;
    font-family: 'PPETRIAL'
}
h1 {
    font-family: 'PPETRIAL';
    /* text-transform: uppercase; */
    text-align: center;
    padding: 10px
}
body {
    background-color: rgb(34, 34, 34)
}
.container {
    background-color: rgb(240, 240, 240);
    margin-top: 10px;
    border-radius: 10px

}
.div1 {
    margin-bottom: 10px
}
.bottone{

    text-align:right;
    
    }
.title{
    text-shadow: 3px 5px 2px rgba(152, 150, 150, 1);
}    

.dropdown-item {
    cursor: pointer
}

