<div class="listaIngredienti">
    <h2>LISTA INGREDIENTI</h2>
    <div class="row" ng-repeat="ingrediente in ingredienti track by ingrediente._id">
        <div class="col-md-2 mb-2">
            <img class="card-img-top" ng-src="{{ingrediente.immagine}}" alt="Card image cap">
        </div>

        <div class="col-md-8 mb-5">
            <label class="nomeIngrediente" style="margin:20px"><strong>Nome:</strong></label>
            <span class="title" ng-bind="ingrediente.nome | maiuscolo"></span><br>
            <label class="allergeneIngrediente" style="margin-left:20px"><strong>Allergene:</strong></label>
            <input type="checkbox" ng-model="ingrediente.allergene" disabled></label><br />
        </div>
        <hr>
    </div>
</div>