<br>

    <h2 class="text-center">Lista Ingredienti</h2>
    <div class="row" ng-repeat="ingrediente in ingredienti track by ingrediente._id" >

        
        <div class="col-2">
            <img  style="margin:20px" class="card-img-top" ng-src="{{ingrediente.immagine}}" alt="Card image cap">
        </div>

        <div class="col-10">
            <label  style="margin:20px"><strong>Nome:</strong></label>
            <span class="title" ng-bind="ingrediente.nome"></span><br>
            <label style="margin:20px"><strong>Allergene:</strong></label>
            <input type="checkbox" ng-model="ingrediente.allergene" disabled></label><br />
        </div>
        <hr>
    </div>