<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Sito Ricette</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" ui-sref-active="active">
                <a class="nav-link" ui-sref="home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" ui-sref-active="active">
                <a class="nav-link" ui-sref="ricette">Ricette</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="ingredienti">Ingredienti</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Portata
                </a>
                <div class="dropdown-menu"  ng-model="portata" aria-labelledby="navbarDropdown" ng-controller="navbarController">

                        <option class="dropdown-item" ng-click="cambiaPortata('primo')">Primo</option>
                        <option class="dropdown-item" ng-click="cambiaPortata('secondo')">Secondo</option>
                        <option class="dropdown-item" ng-click="cambiaPortata('antipasto')" >Antipasto</option>
                        <option class="dropdown-item" ng-click="cambiaPortata('dolce')" >Dolce</option>
                        <option class="dropdown-item" ng-click="cambiaPortata('contorno')" >Contorno</option>
                        <option class="dropdown-item" ng-click="cambiaPortata('piattounico')" >Piatto Unico</option>

                </div>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" ui-sref="inserisci">Inserisci una nuova ricetta</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Cerca ricette" aria-label="Search" ng-model="filtro">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Cerca</button>
        </form>
    </div>
</nav>