<br>
<div class="row" class="div1" ng-repeat="ricetta in ricette | filter : filtro | filterAllergene : allergene track by ricetta._id">
        <div class="col-md-4 mb-5">
                <img class="card-img-top" ng-src={{ricetta.immagine}} alt="Card image cap" width="290" height="270">
        </div>
        
        <div class="col-md-8 mb-5">
                <h2 class="title" ng-bind="ricetta.nome | maiuscolo"></h2><br>
                <label><strong>Difficoltà:</strong></label>
                <span class="text" ng-bind="ricetta.difficolta"></span><br>
                <label><strong>Voto Medio:</strong></label>
                <span class="text" ng-bind="ricetta.votoMedio"></span><br>
                <label><strong>Portata:</strong></label>
                <span class="text" ng-bind="ricetta.portata[0]"></span><br>
                <label><strong>Regione:</strong></label>
                <span class="text" ng-bind="ricetta.regione"></span><br>
                <!-- <label><strong>Autore:</strong></label>
                <span class="text" ng-bind="autore.nome"></span><br> -->
                <br>
                <h1 class="bottone"><a ui-sref="ricetta({id:ricetta._id})" class="btn btn-dark">Dettaglio Ricetta</a></h1>
               
                
        </div>



<hr>
</div>

<!-- <h2>Sono sulle lista delle ricette</h2>
<div ng-repeat="ricetta in ricette track by ricetta._id">

<h3 ng-bind="ricetta.nome"></h3>
<h6 ng-bind="ricetta.descrizione"></h6>
<a ui-sref="ricetta({id:ricetta._id})">dettaglio</a>



</div> -->